/* CSS - INDEX */

#clic {

  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  color:#E8B200;
  background-color: white;
}

li {

font-family: Roboto;
font-size: 16px;
color: white;
background-color: White;
border: solid black 1px;
border-radius: 5px;
text-align: center;
text-decoration: none;
list-style-type: none;
display: inline-block;
margin-left: 10px;
vertical-align: baseline;
}

ul{
  margin-right: 30px;
}

/* MEDIA QUERIES - RESPONSIVE NAV - MOBILE */

@media screen and (max-width: 800px) {

  li {

    font-family: Roboto;
    font-size: 16px;
    color: white;
    background-color: white;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    display: block;
    margin: 1% auto;
    padding-right: 10px;
    
  }


 
  nav {
    text-decoration: none;
    text-align: right;
    vertical-align: middle;
    background-color: white;
    padding-bottom: 0.5%;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);

  }

  .slider {
    text-align: center;
    background-color: #E8B200;
    padding: 5%;
  }
  
  .header {
    height: 30%;
    background-color: white;
    color: white;

  }

  li:hover {
        background-color: #E8B200;
        transition: 0.4s linear;
  }

  
  .title {
    font-family: Roboto;
    font-size: 30px;
    color: black;
    display: block;
    text-align: center;
    clear: both;
    margin: auto;

  }


  .title2 {
    font-family: Roboto;
    font-size: 24px;
    color: black;
    display: block;
    text-align: center;
    clear: both;

  }

  .description {
    font-family: Roboto light;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;

  }

  .bloc:hover .overlay {
    display: none;
  }

  .overlay{
    height: 0%;
    width: 0%;
    display: none;
  }

  .bloc {
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 30px;
  }

  img {
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
}

@media screen and (min-width: 800px) {


  .slider {
    text-align: center;
    background-color: #E8B200;
    padding: 5%;
  }

  .title {
    font-family: Roboto;
    font-size: 30px;
    color: black;
    display: block;
    text-align: center;
    clear: both;
    margin: auto;

  }


  .title2 {
    font-family: Roboto;
    font-size: 24px;
    color: black;
    display: block;
    text-align: center;
    clear: both;

  }

  .description {
    font-family: Roboto light;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;

  }

    
  .bloc {
    position: relative;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 0.5%;
    padding: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

}


nav {
text-decoration: none;
text-align: right;
vertical-align: middle;
background-color: white;
}

.header {
  height: 10%;
  background-color: white;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.sticky + .content {
  padding-top: 102px;
}

a {

text-decoration: none;
color: black;
display: inline-block;
text-align: center;
padding: 10px;

}

a:hover {
  background-color: #E8B200;
  border-radius: 5px;
  color: white;
  transition: 0.4s linear;
}

  /* .active{
    background-color: black;
    color: white;
 */




.bloc:hover .overlay {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s linear;
    background-color: #E8B200;
    border-radius: 5px;

}

.text {
    font-size: 20px;
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
  border-radius: 5px;
}

.compobloc1 {

  display: block;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;

}

.compobloc2 {

  display: block;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  margin-bottom: 2%;

}


/* CSS - FOOTER */

@media screen and (max-width: 800px) {


  .contact1 {
    display: block;
    margin: auto;
  }

  .contact2 {
    display: block;
    margin: auto;
  }

  .contact {
    font-family: Roboto light;
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #333333;
    margin: auto;

  }

  
  .copy {
    padding: 3%;
    font-family: Roboto light;
    font-size: 12px;
    color: white;
    background-color: black;
    display: block;
    text-align: center;
    margin: 0%;

  }

  
  i {
    display: inline-block;
  }

  .adresse {
    display: inline-block;
  }

  .mail {
    display: inline-block;
  }

  .map {

    display: none;
  }

}





@media screen and (min-width: 800px) {

  
  .contact {
    font-family: Roboto light;
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #333333;
  }
  
  .contact1 {
    display: inline-block;
    padding-right: 30px;
  
  }
  
  .contact2 {
    display: inline-block;
    padding-right: 30px;
  
  }

  .copy {
    font-family: Roboto light;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: black;
    display: block;
    padding: 1%;
    margin: 0%;

  }

  
  i {
    display: inline-block;
  }

  .adresse {
    display: inline-block;
  }

  .mail {
    display: inline-block;
  }

 


}









/* CSS - OURTEAM */

@media screen and (max-width: 800px) {

  .title-slider {

    height: 200px;
    background-color: #E8B200;  
    
  }

}

.title-slider {

  background-color: #E8B200;
  padding: 2%;


}

.title-slider-ourteam {

  font-family: Roboto;
  font-size: 24px;
  color: black;
  display: block;
  text-align: center;
  clear: both;
}


.description-ourteam {

  font-family: Roboto light;
  font-size: 18px;
  color: black;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 20px;
}

/* CSS - OURTEAM BLOC ICONS */


.mytitle {

  font-size: 18px;
  font-family: Roboto;
  color: black;
  padding-bottom: 2%;
  top: 50%;
  left: 50%;

}



/* MEDIA QUERIES - OURTEAM BLOC ICONS - TABLET DESKTOP */

@media screen and (min-width: 800px) {

  .bloc-icon1 {

  background-color: white;
  font-family: Roboto light;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 5px;
  border-color: black;
  border: solid 1px;
  height: 250px;
  width: 20%;
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  padding: 2%;
  }

  .bloc-icons {

  text-align: center;
  display: inline-block;
  padding: 1%;
  height: 400px;
  left: 50%;
  top: 10%;
  margin: 1%;

  }

}

/* MEDIA QUERIES - OURTEAM BLOC ICONS - MOBILE */


@media screen and (max-width: 800px) {

  .bloc-icon1 {

  background-color: white;
  font-family: Roboto light;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 5px;
  border-color: black;
  border: solid 1px;
  height: 10%;
  width: 80%;
  clear: both;
  padding: 2%;
  display: block;
  margin: 2% auto;



  }

  .bloc-icons {

  text-align: center;
  padding: 0.5%;
  left: 50%;
  top: 50%;
  margin: auto;
  margin: 5%;

  }

}

/* CSS - CONTACT */



.title-slider {

  background-color: #E8B200;
  padding: 2%;


}

.title-slider-contact {

  font-family: Roboto;
  font-size: 24px;
  color: black;
  display: block;
  text-align: center;
  clear: both;

}


.description-contact {

  font-family: Roboto light;
  font-size: 18px;
  color: black;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 20px;
  animation: test 2s;
  animation-timing-function: linear;
}

form {
  height: 400px;
  display: block;
  width: 40%;
  margin: auto;
}

fieldset {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-family: Roboto ;
  display: block;
  font-size: 14px;
  color: black;
}

input {
  margin: 0.5%;
  padding: 1%;
  display: block;

}

textarea {

  height: 100px;
  width: 500px;
  resize: none;
  overflow: auto;
  display: block;
  margin-bottom: 1%;

}
